

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.auth_nav a {
  width: 50%;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  color: #000000;
}

.auth_block {
  max-width: 400px;
  width: 100%;
  filter: drop-shadow(0 0.5rem 1rem #00000026);
}

.auth_nav a.active {
  background-color: white;
}

.auth_wrap {
  padding: 2.5em;
  background-color: white;
}

body {
  background-color: #eee;
}

.hljs * {
  word-break: break-all;
  white-space: pre-wrap;
}

pre {
  tab-size: 4;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #333;
  }

  input, textarea {
    background-color: #333;
    border: 1px solid #999;
    color: #fff
  }

  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */